<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/"> <%= t('shared.title') %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    	<ul class="navbar-nav mr-auto mt-2 mt-md-0">
      </ul>
        <% if user_signed_in? %>
            <ul class="navbar-nav">
	            <li class="nav-item dropdown">
	                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<%= t('shared.dropdown') %>
	                </a>
	                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	                	<%= link_to t('shared.my_profile'), edit_user_registration_path , class: "dropdown-item"%>
	                    <div class="dropdown-divider"></div>
	                    <%= button_to t('shared.log_out'), destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
	                </div>
	            </li>
							<ul style="list-style-type: none; padding-left: 0;">
								<li>
									<%= link_to url_for(locale: 'en'), style: "color: white; text-decoration: none;" do %>
										<%= image_tag('en.png', alt: 'English', size: '24x16') %> English
									<% end %>
								</li>
								<li>
									<%= link_to url_for(locale: 'uk'), style: "color: white; text-decoration: none;" do %>
										<%= image_tag('uk.png', alt: 'Українська', size: '24x16') %> Українська
									<% end %>
								</li>
							</ul>
	        </ul>
        <% else %>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <%= link_to t('shared.log_in'), new_user_session_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to t('shared.register'), new_user_registration_path, class: "nav-link" %>
                </li>
            </ul>
        <% end %>
    </div>
</nav>
