<div class="row">
  <div class="col-lg-4 col-md-6 ml-auto mr-auto">
    <h1 class="text-center"><%= t('post.form.title') %></h1>

    <%= form_with(model: [@hoby, @post], url: hoby_post_path(@hoby), local: true, html: { class: 'form-horizontal'}) do |f| %>
      <% if @post.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
          <h2><%= pluralize(@post.errors.count, "error") %> <%= t('post.error_prohibited') %> </h2>
          <ul>
            <% @post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.hidden_field :hoby_id, :value => @hoby.id %>

      <div class="form-group">
        <%= f.label :annotation, t('post.form.annotation') %>
        <%= f.text_field :annotation, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :description, t('post.form.description') %>
        <%= f.text_area :description, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :type_id, t('post.form.type') %>
        <%= f.select :type_id, options_from_collection_for_select(@types, :id, :title), {:selected => f.object.type_id}, { class: 'form-control' } %>
      </div>

      <div class="form-group">
        <%= f.label :images, t('post.form.images') %>
        <%= f.file_field :images, multiple: true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.submit t('post.form.create_post'), class: 'btn btn-primary' %>
      </div>
    <% end %>
    <hr>
  </div>
</div>
