<h1><%= @hoby.title %></h1>
<h2>Posts</h2>
<%= link_to "New", new_hoby_post_path(@hoby) %>
<ul>
  <% @posts.each do |post| %>
    <li>
      <%= link_to post.annotation, hoby_post_path(@hoby, post) %>
      <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
    </li>
  <% end %>
</ul>
